<!--         {% for p in site.pages %}
        {%if p.markdownpage == true %}
        <li>
        	<a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
   -->
 
<li><a href="https://www.labtrac.com">About</a></li>
<li><a href="https://www.labtrac.com/en/Home/Features#features">Features</a></li>
<li><a href="https://www.labtrac.com/en/Pricing">Pricing</a></li>

<li><a href="/en/Support">Support</a></li>
<li class="hidden-xs">
    <a class="text-white">
        <small style="line-height:20px;">
            +44 3333 449970
        </small>
    </a>
</li>
<li class="hidden-xs"><a title="twitter" class="text-white" style=" margin-right 1px;" onclick="_gaq.push(['_trackEvent','Header','Click','Twitter']);" href="https://twitter.com/intent/user?screen_name=labtrac" target="_blank"><i class="fa fa-twitter"></i></a></li>
